<%= simple_form_for(@robot_movement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :robot %>
    <%= f.association :movement %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
